/* This file contains styles for index.html. */

#middle-container {
    text-align: center;
    height: 400px;
}

#raw-code {
    height: 75%;
    width: 100%;
}

.centered-container {
    display: inline-block;
    vertical-align: top;
    margin: 50px;
    padding: 22px;
    text-align: left;
    border: 5px solid black;
    height: 100%;
    width: 20%;
}
